<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../css/page-css.css" rel="stylesheet" th:href="@{/css/page-css.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


</head>
<div class="container">
    <form th:action="@{/encodeFile}" th:object="${batchParametersInputObject}" method="post">
        <div class="form-group">
            <label>Provide path to file:</label>
            <input class="form-control datepicker1"  th:field="*{inputPath}"
                   autocomplete="off"/>
            <small class="form-text text-muted">Example path: 'C:/test/input.txt'</small>
        </div>
        <div class="form-group">
            <label>Provide path to output file:</label>
            <input class="form-control datepicker1"  th:field="*{outputPath}"
                   autocomplete="off"/>
            <small class="form-text text-muted">Example path: 'C:/test/output.txt'</small>
        </div>
        <div class="form-group">
            <label>Provide shift:</label>
            <input class="form-control datepicker1"  th:field="*{shift}"
                   autocomplete="off"/>
            <small class="form-text text-muted">Provide left shift number for Caesar cipher </small>
        </div>
        <div class="form-group">
            <label>Provide number of threads:</label>
            <input class="form-control datepicker1"  th:field="*{numberOfThreads}"
                   autocomplete="off"/>
            <small class="form-text text-muted">Provide number of threads </small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    <div class="alert alert-success" th:if="${successMessage != null}">
        <div th:text="${successMessage}" />
    </div>

    <div class="alert alert-danger" th:if="${errorMessage != null}">
        <div th:text="${errorMessage}" />
    </div>


</div>
</body>
</html>